<!-- {% if msg %}
    <script>
        alert('{{msg}}')
    </script>
{% endif %} -->
<html lang=“en“>
    <head>
        <meta charset=“UTF-8“>
        <title>Welcome</title>
    </head>

    <body>

        <header>
            <h1>Welcome {{e}}</h1>
        </header>

        <form action="/postMessage/" method="post">
            {% csrf_token %}
            <label for="message">Message :</label>
            <input type="text" name="message" value="" placeholder="Your message here"/>
            <input type="submit" value="save"/>
        </form>
        {% for key1, message in msg.items %} 
            {% for key2, m in message.items %}
                <p>{{m}}</p>
            {% endfor %}
        {% endfor %}

       
    </body>
</html>